body {

	background-color: black;
	font-family: Calibri;
	text-align: center;
	background: url("http://halolsi.github.io/unit_3/images/wafer_openhand3a.jpg");
/*	background-image: url("http://halolsi.github.io/unit_3/images/messy_garage.png");*/
	background-size: cover;
}

h1,h2 {
	font-weight: bold;
	color: white;
}

p {

	color: white;
	font-size: 22px;
}

.link {
	height: 50;
    width: 50;
    float: center;
    text-align: center;
}