body {

	font-family: Arial;
	text-align: center;
/*	background: url("http://halolsi.github.io/unit_3/images/carwafer6.png");
	background-size: cover;
	background-repeat: no-repeat;   */
	background-color: white;
	color: black;
}

h1,h2,h3 {
	color: black;
}

ul {
	color: black;
	font-size: 22px;
	margin-right: 25%;
	text-align: right;
}

p {
	color: gray;
	font-size: 22px;
}

.container {
    float: center;
    text-align: center;
    background: url("http://halolsi.github.io/unit_3/images/carwafer5.png");
/*	background-size: cover;*/
	background-size: contain;
	background-repeat: no-repeat;
}